body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, form, fieldset, legend, button, input, textarea, th, td {
	margin: 0;
	padding: 0;
}
body, button, input, select, textarea {
	font: 12px/1.5 'Microsoft Yahei', tahoma, arial, \5b8b\4f53;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}
fieldset, img {
	border: 0;
}
ul, ol {
	list-style: none;
}
a {
	color: #555;
	text-decoration: none;
	outline: none;

	&:hover {
		text-decoration: underline;
	}
}
i, em, strong, th {
	font-style: normal;
	font-weight: normal;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

.clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	font-size: 0;
}
.clearfix {
	&:after {
		content: ".";
		display: block;
		clear: both;
		height: 0;
		visibility: hidden;
	}
	zoom: 1;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	background-color: #fbfbfb;
}
.crm-wrapper {
	width: 1190px;
	margin: 0 auto;
}
.crm-top-bar {
	position: relative;
	width: 100%;
	height: 33px;
	padding: 14px 0 13px;
	background-color: #5871a7;

	.crm-top-logo {
		display: block;
		float: left;
		width: 343px;
		height: 33px;
		background: url(images/sprite-crm.png) no-repeat 0 -184px;
		line-height: 33px;
		text-indent: 100%;
		white-space: nowrap;
		cursor: pointer;
		overflow: hidden;
	}
	.crm-top-user {
		float: right;

		.todo-detail {
			display: none;
			float: left;
			width: 200px;
			height: 30px;
			background-color: #3d4f75;
			border-radius: 15px;
			line-height: 30px;
			color: #fff;
			font-size: 14px;
			text-decoration: none;
			cursor: pointer;
			overflow: hidden;

			.icon {
				display: inline;
				float: left;
				width: 14px;
				height: 12px;
				margin: 9px 10px 9px 20px;
				background: url(images/sprite-crm.png) no-repeat -16px -32px;
			}
			.num {
				padding: 0 4px;
				color: #ffba00;
				font-size: 16px;
				font-weight: bold;
			}
		}
		.user-detail {
			display: block;
			float: left;
			height: 30px;
			margin-left: 40px;
			line-height: 30px;
			color: #fff;
			font-size: 14px;

			.icon {
				display: block;
				float: left;
				width: 12px;
				height: 14px;
				margin: 8px 10px 8px 0;
				background: url(images/sprite-crm.png) no-repeat 0 -30px;
			}
			.userID {
				padding-left: 5px;
			}
		}
		.user-exit {
			display: block;
			float: left;
			height: 30px;
			margin-left: 10px;
			line-height: 30px;
			color: #ffba00;
			font-size: 14px;
		}
	}
}
.nav-tab {
	float: left;
	width: 170px;
	height: 660px;
	margin-top: 20px;
	padding-left: 10px;
	padding-top: 13px;
	background-color: #eee;

	.nav-tab-item {
		position: relative;
		display: block;
		width: 100%;
		height: 70px;
		margin-bottom: 6px;
		line-height: 70px;
		color: #555;
		font-size: 18px;
		text-decoration: none;

		i {
			display: inline;
			float: left;
			width: 36px;
			height: 36px;
			margin: 17px 10px 17px 20px;

			&.item-icon1 {
				background: url(images/sprite-crm.png) no-repeat 0 -48px;
			}
			&.item-icon2 {
				background: url(images/sprite-crm.png) no-repeat -37px -48px;
			}
			&.item-icon3 {
				background: url(images/sprite-crm.png) no-repeat -74px -48px;
			}
			&.item-icon4 {
				background: url(images/sprite-crm.png) no-repeat -111px -48px;
			}
			&.item-icon5 {
				background: url(images/sprite-crm.png) no-repeat -148px -48px;
			}
			&.item-icon6 {
				background: url(images/sprite-crm.png) no-repeat -185px -48px;
			}
			&.item-icon7 {
				background: url(images/sprite-crm.png) no-repeat -222px -48px;
			}
		}
		&:hover {
			background-color: #fbfbfb;
		}
		&.current {
			background-color: #fbfbfb;

			&:hover, &:active {
				background-color: #fbfbfb;
			}
			&:after, &:hover:after, &:active:after {
				content: '';
				position: absolute;
				top: 29px;
				right: 20px;
				width: 7px;
				height: 13px;
				background: url(images/sprite-crm.png) no-repeat -34px -31px;
			}
		}
	}
}
.tab-content {
	position: relative;
	float: right;
	width: 990px;
	height: 685px;
	margin-top: 15px;
	overflow-y: auto;

	.tab-content-title {
		height: 26px;
		line-height: 26px;
		color: #555;
		font-size: 24px;
		font-weight: normal;

		.modified {
			display: inline-block;
			height: 24px;
			margin-left: 16px;
			padding: 0 20px;
			border: 1px solid #ccc;
			border-radius: 2px;
			background-color: #f6f6f6;
			line-height: 24px;
			color: #555;
			font-size: 14px;
			text-decoration: none;

			&:hover {
				background-color: #eee;
			}
		}
	}
	.tab-content-list {
		width: 990px;
		margin-top: 20px;
		overflow: hidden;

		.index-list-items {
			width: 1000px;

			.list-item {
				position: relative;
				display: inline;
				float: left;
				width: 218px;
				height: 92px;
				margin: 0 10px 10px 0;
				padding: 10px;
				border: 1px solid #eee;
				background-color: #fff;
				overflow: hidden;

				.list-item-title {
					width: 100%;
					height: 18px;
					line-height: 18px;
					color: #555;
					font-size: 18px;
					font-weight: normal;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				.list-item-subtitle {
					width: 100%;
					height: 36px;
					margin-top: 6px;
					line-height: 18px;
					color: #999;
					font-size: 14px;
					font-weight: normal;
					overflow: hidden;
				}
				.btn-collection {
					display: block;
					width: 68px;
					height: 24px;
					margin-top: 6px;
					border: 1px solid #5871a7;
					border-radius: 2px;
					background-color: #fff;
					line-height: 24px;
					color: #5871a7;
					font-size: 14px;
					text-align: center;
					text-decoration: none;

					&:hover {
						background-color: #5871a7;
						color: #fff;
					}
				}
				.btn-uncollection {
					display: block;
					width: 68px;
					height: 24px;
					margin-top: 6px;
					border: 1px solid #ccc;
					border-radius: 2px;
					background-color: #f6f6f6;
					line-height: 24px;
					color: #555;
					font-size: 14px;
					text-align: center;
					text-decoration: none;

					&:hover {
						display: block;
						width: 68px;
						height: 24px;
						margin-top: 6px;
						border: 1px solid #ccc;
						border-radius: 2px;
						background-color: #eee;
						line-height: 24px;
						color: #555;
						text-align: center;
						text-decoration: none;
					}
				}
				&:hover {
					border: 1px solid #5871a7;
				}
			}
		}
	}
	.label-tab-title {
		height: 20px;
		margin-top: 20px;

		.label-tab-title-item {
			display: inline-block;
			float: left;
			height: 20px;
			margin-right: 40px;
			line-height: 20px;
			color: #999;
			font-size: 18px;
			text-decoration: none;
			overflow: hidden;

			&:hover {
				color: #555;
			}
			&.current {
				color: #555;

				&:hover, &:active {
					color: #555;
				}
			}
		}
	}
	.chart-content {
		width: 980px;
		height: 580px;
		margin-top: 20px;
		overflow-y: scroll;

		.chart {
			float: left;
			width: 468px;
			height: 278px;
			margin-right: 10px;
			margin-bottom: 10px;
			border: 1px solid #eee;
			background-color: #fff;
		}
	}
	.label-tab-content {
		display: none;
		position: relative;
		top: 10px;
		opacity: 0;
		margin-top: 20px;

		.radio-channel {
			width: 610px;
			height: 44px;
			padding: 8px 20px;
			background-color: #f6f6f6;
			line-height: 22px;
			color: #555;
			font-size: 14px;

			.radio-channel-title {
				display: inline-block;
				width: 70px;
				margin-right: 10px;
				color: #999;
				text-align: right;
			}
			input[type='radio'] {
				margin-right: 5px;
			}
			.radio-label {
				display: inline-block;
				width: 75px;
				cursor: pointer;
			}
		}
		.description-tag {
			height: 16px;
			margin-top: 20px;

			.description-tag-item {
				position: relative;
				display: block;
				float: left;
				height: 16px;
				margin-right: 60px;
				cursor: pointer;

				span {
					display: block;
					line-height: 16px;
					color: #555;
					font-size: 16px;
				}
				&:hover span {
					color: #5871a7;
				}
				.description-tag-item-second {
					display: none;
					opacity: 0;
					position: absolute;
					top: 21px;
					width: 110px;
					padding: 10px 0;
					border: 1px solid #eee;
					background-color: #fff;
					// background: rgba(255, 255, 255, 0.9);
					// filter: Alpha(opacity = 90);
					// box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

					.second-item-name {
						width: 100%;
						height: 30px;
						line-height: 30px;

						a {
							display: block;
							color: #555;
							font-size: 16px;
							text-align: center;
							text-decoration: none;

							&:hover {
								background-color: #f6f6f6;
							}
							&.current {
								background-color: #5871a7;
								color: #fff;
							}
						}
					}
				}
				&.current span {
					color: #5871a7;
				}
			}
		}
	}
}
.results-title-tag {
	height: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 20px;
	color: #999;
	font-size: 14px;

	.num {
		padding: 0 4px;
	}
}
.tab-content {
	.label-tab-content {
		.throng-new-category {
			height: 30px;
			padding: 33px 30px;
			background-color: #f6f6f6;
			line-height: 30px;
			color: #999;
			font-size: 14px;

			.select-text-style {
				width: 178px;
				height: 30px;
				margin-right: 30px;
				padding: 3px 0;
				border: 1px solid #ccc;
				line-height: 18px;
				color: #555;
				font-size: 14px;
			}
			.link-query {
				display: inline-block;
				height: 26px;
				padding: 0 20px;
				border: 1px solid #ccc;
				border-radius: 2px;
				line-height: 26px;
				color: #555;
				font-size: 14px;
				text-align: center;
				text-decoration: none;

				&:hover {
					background-color: #eee;
				}
			}
		}
		.jurisdiction-category {
			// height: 84px;
			padding: 11px 20px;
			background-color: #f6f6f6;
			line-height: 30px;
			color: #999;
			font-size: 14px;

			.jurisdiction-category-p {
				padding: 5px 0;
			}
			.input-label {
				display: inline-block;
				width: 80px;
				text-align: right;

				&.w120 {
					width: 120px;
				}
			}
			.input-text-style {
				width: 158px;
				height: 30px;
				padding: 0 10px;
				border: 1px solid #ccc;
				line-height: 30px;
				color: #555;
				font-size: 14px;

				&::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::placeholder {
					color: #ccc;
				}
			}
			.select-text-style {
				width: 180px;
				height: 30px;
				padding: 3px 0;
				border: 1px solid #ccc;
				line-height: 18px;
				color: #555;
				font-size: 14px;
			}
			.link-query {
				display: inline-block;
				height: 26px;
				margin-left: 30px;
				padding: 0 20px;
				border: 1px solid #ccc;
				border-radius: 2px;
				line-height: 26px;
				color: #555;
				font-size: 14px;
				text-align: center;
				text-decoration: none;

				&:hover {
					background-color: #eee;
				}
			}
			.link-screen {
				display: inline-block;
				position: relative;
				float: right;
				height: 30px;
				padding-right: 18px;
				line-height: 30px;
				color: #555;
				font-size: 14px;
				text-align: center;
				text-decoration: none;

				i.down {
					display: block;
					position: absolute;
					top: 12px;
					right: 4px;
					width: 11px;
					height: 6px;
					background: url(images/sprite-crm.png) no-repeat -136px -38px;
				}
			}
		}
		.screen-results-none {
			height: 40px;
			margin-top: 30px;
			line-height: 40px;
			color: #555;
			font-size: 14px;
			text-align: center;

			.icon {
				display: inline-block;
				position: relative;
				top: 3px;
				width: 16px;
				height: 16px;
				margin-right: 5px;
				background: url(images/sprite-crm.png) no-repeat -34px -88px;
			}
			.num {
				padding: 0 4px;
			}
			.link-back {
				margin-left: 20px;
				color: #5871a7;
			}
		}
	}
	.throng-operation {
		position: relative;
		z-index: 111;
		margin-top: 20px;

		.throng-new {
			display: inline-block;
			position: relative;
			// width: 160px;
			height: 42px;
			border-radius: 2px;
			padding-right: 30px;
			background-color: #5871a7;
			line-height: 42px;
			color: #fff;
			font-size: 16px;
			cursor: pointer;

			.icon {
				display: inline;
				float: left;
				width: 18px;
				height: 18px;
				margin: 12px 5px 12px 30px;
				background: url(images/sprite-crm.png) no-repeat -92px -28px;
			}
			.throng-new-second {
				display: none;
				opacity: 0;
				position: absolute;
				top: 47px;
				left: 0;
				width: 160px;
				padding: 15px 30px;
				border: 1px solid #eee;
				background-color: #fff;
				background: rgba(255, 255, 255, 0.9);
				filter: Alpha(opacity = 90);
				box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

				.throng-new-second-item {
					display: block;
					float: left;
					width: 158px;
					height: 40px;
					margin-top: 5px;
					margin-bottom: 5px;
					border: 1px solid #ccc;
					border-radius: 2px;
					background-color: #f6f6f6;
					line-height: 40px;
					color: #555;
					font-size: 16px;
					text-align: center;
					text-decoration: none;
					overflow: hidden;

					&:hover {
						background-color: #eee;
					}
				}
			}
			&:hover {
				background-color: #425889;
			}
		}
	}
	.throng-content {
		position: relative;
		z-index: 110;
		margin-top: 20px;

		.selected-items {
			height: 26px;
			padding: 6px 0 14px;
			background-color: #f6f6f6;

			.query-title {
				display: inline-block;
			    margin-right: 20px;
			    margin-left: 20px;
			    color: #555;
			    font-size: 16px;
			}

			.item {
				display: inline-block;
				height: 26px;
				margin-right: 10px;
				padding: 0 10px;
				border-radius: 2px;
				background-color: #ddd;
				line-height: 26px;
				color: #555;

				.cancle-selected {
					display: none;
				    float: right;
				    width: 9px;
				    height: 9px;
				    margin: 9px 0 0 5px;
				    background: url(images/sprite-crm.png?v=ee949) no-repeat -21px -91px;
				    cursor: pointer;
				}

				&.hover {
					background-color: #5871a7;
					color: #fff;
					text-decoration: none;
				}
			}
		}

		.throng-content-dotitle {
			height: 44px;
			margin-top: 10px;
			background-color: #f6f6f6;
			line-height: 44px;

			.query-title {
				display: inline-block;
				margin-right: 20px;
				margin-left: 20px;
				color: #555;
				font-size: 16px;
			}
			.query-link {
				display: inline-block;
				height: 24px;
				margin-top: 10px;
				margin-right: 10px;
				padding: 0 12px;
				border: 1px solid #ccc;
				border-radius: 2px;
				background-color: #f6f6f6;
				line-height: 24px;
				color: #555;
				font-size: 14px;
				text-decoration: none;

				.icon {
					display: inline;
					float: left;
					width: 14px;
					height: 14px;
					margin: 5px 5px 5px 0;
				}
				.icon1 {
					background: url(images/sprite-crm.png) no-repeat -60px -30px;
				}
				.icon2 {
					background: url(images/sprite-crm.png) no-repeat -76px -30px;
				}
				.icon3 {
					background: url(images/sprite-crm.png) no-repeat -44px -30px;
				}
				&:hover {
					background-color: #eee;
				}
			}
			.query-warning {
				display: inline-block;
				margin-left: 10px;
				color: #f23d3d;
				font-size: 14px;

				.icon {
					display: inline;
					float: left;
					width: 16px;
					height: 16px;
					margin-top: 14px;
					margin-right: 5px;
					background: url(images/sprite-crm.png) no-repeat 0 -87px;
				}
			}
		}
	}
	.over-tab-content {
		.over-success {
			display: block;
			width: 115px;
			height: 118px;
			margin: 100px auto 30px;
		}
		.over-title {
			color: #555;
			font-size: 30px;
			text-align: center;
		}
		.over-buttons {
			margin-top: 20px;
			text-align: center;

			.click-view-butt {
				display: inline-block;
				width: 158px;
				height: 40px;
				margin: 0 5px;
				border: 1px solid #ccc;
				border-radius: 2px;
				background-color: #f6f6f6;
				line-height: 40px;
				color: #555;
				font-size: 16px;
				text-align: center;
				text-decoration: none;
				cursor: pointer;

				&:hover {
					background-color: #eee;
				}
			}
		}
	}
	.table-all-tag {
		display: inline;
		float: left;
		width: 730px;
	}
	.table-new-tag {
		display: inline;
		float: right;
		width: 240px;
		margin-top: 50px;
	}
}
.new-tag-title {
	height: 34px;
	padding: 0 20px;
	line-height: 34px;
	background-color: #eee;
	color: #555;
	font-size: 14px;

	.num {
		padding: 0 4px;
		font-size: 16px;
		font-weight: bold;
	}
}
.scroll-hidden {
	height: 270px;
	overflow-y: scroll;
}
.estimate-num {
	height: 25px;
	padding: 10px 20px;
	line-height: 25px;
	background-color: #eee;
	color: #555;
	font-size: 14px;

	span {
		display: block;
		float: left;
		height: 25px;
		line-height: 25px;
	}
	.num {
		width: 80px;
		padding: 0 4px;
		border-bottom: 1px solid #999;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
	}
	.count-down {
		width: 80px;
		padding: 0 4px;
		border-bottom: 1px solid #999;
		color: #999;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;

		.seconds {
			color: #f23d3d;
		}
	}
	.estimate-btn {
		display: block;
		float: right;
		width: 70px;
		height: 24px;
		border: 1px solid #ccc;
		border-radius: 2px;
		background-color: #f6f6f6;
		line-height: 24px;
		color: #555;
		font-size: 14px;
		text-align: center;
		text-decoration: none;

		&:hover {
			background-color: #eee;
		}
	}
	.disable-btn {
		border: 1px solid #ccc;
		background-color: #f6f6f6;
		color: #ccc;
		cursor: default;

		&:active, &:hover {
			border: 1px solid #ccc;
			background-color: #f6f6f6;
			color: #ccc;
			cursor: default;
		}
	}
}
.estimate-warning {
	height: 22px;
	margin: 0 20px;
	line-height: 22px;
	color: #f23d3d;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
}
.next-step-btn {
	display: block;
	float: right;
	width: 158px;
	height: 40px;
	margin-top: 10px;
	border-radius: 2px;
	background-color: #5871a7;
	line-height: 40px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	text-decoration: none;

	&:hover {
		background-color: #425889;
	}
}
.disable-btn {
	border: 1px solid #ccc;
	background-color: #f6f6f6;
	color: #ccc;
	cursor: default;

	&:active, &:hover {
		border: 1px solid #ccc;
		background-color: #f6f6f6;
		color: #ccc;
		cursor: default;
	}
}
.to-do-content {
	margin-top: 30px;

	.to-do-content-title {
		height: 32px;
		padding: 14px 0;
		background-color: #f6f6f6;
		line-height: 32px;
		color: #555;
		font-size: 16px;
	}
	.span-title-style {
		margin-left: 15px;
	}
	.select-text-style {
		width: 178px;
		height: 30px;
		margin-right: 15px;
		padding: 3px 0;
		border: 1px solid #ccc;
		line-height: 18px;
		color: #555;
		font-size: 16px;
	}
	.link-query {
		height: 28px;
		margin-top: 1px;
		margin-left: 50px;
		padding: 3px 20px;
		border: 1px solid #ccc;
		border-radius: 2px;
		line-height: 28px;
		color: #555;
		font-size: 16px;
		text-align: center;
		text-decoration: none;

		&:hover {
			background-color: #eee;
		}
	}
}
.new-step {
	position: absolute;
	right: 0;
	top: 0;
	width: 300px;

	.step-list {
		position: relative;
		display: inline;
		float: left;
		width: 100px;
		border-bottom: 2px solid #eee;
		color: #999;
		text-align: center;

		.step-list-title {
			height: 22px;
			margin-bottom: 8px;
			line-height: 22px;
			font-size: 14px;
		}
		&:after {
			content: attr(eq);
			position: absolute;
			display: block;
			top: 22px;
			left: 50%;
			margin-left: -9px;
			height: 18px;
			width: 18px;
			border-radius: 50%;
			background-color: #ddd;
			line-height: 18px;
			color: #fff;
			text-align: center;
		}
		&.current {
			border-color: #a9b6d1;

			.step-list-title {
				color: #5871a7;
			}
			&:after {
				background-color: #5871a7;
			}
		}
	}
}

.vri-btn {
  display: none;
  width: 90px;
  height: 26px;
  background: #f6f6f6;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  color: #555555;
  cursor: pointer;

}

.textbox {
	height: 28px;
	line-height: 28px;
	width: 178px;
	border: 1px solid #ccc;
	padding: 0 10px;
	font-size: 14px;

	&::placeholder {
		color: #ccc;
	}
	&:focus {
		border-color: #5871a7;
	}
	&.w300 {
		width: 298px;
	}
	&.ml10 {
		margin-left: 10px;
	}
}
.sms-position {
	position: absolute;
	top: 20px;
	right: 50px;
}
.sms-filed-preview-bg {
	width: 200px;
	height: 302px;
	padding: 100px 80px 20px 69px;
	background: url(images/sms-bg.png) no-repeat 0 0;

	.sms-filed-preview {
		width: 200px;
		height: 292px;
		margin-top: 10px;
		padding-left: 10px;
		overflow-y: auto;
		
		.sms-message-list {
			position: relative;
			width: 160px;
			margin-bottom: 20px;
			padding: 6px 8px 6px 12px;
			border-radius: 5px;
			background-color: #eee;
			line-height: 20px;
			color: #555;
			font-size: 12px;
			word-wrap: break-word;
			
			&:after {
				content: '';
				position: absolute;
				display: block;
				left: -10px;
				bottom: 0px;
				width: 19px;
				height: 8px;
				background: url(images/message-after-bg.png) no-repeat 0 0;
			}
		}
	}
}
.form-content {
	margin-top: 20px;
	font-size: 14px;

	.basic-info {
		height: 40px;
		margin-bottom: 6px;
		line-height: 40px;
		color: #555;
		font-size: 18px;
		font-weight: normal;

		.hint {
			padding-left: 10px;
			color: #999;
			font-size: 14px;
		}

		input[type='radio'] {
			margin-right: 5px;
		}
	}
	&.style-dt-width {
		.form-dl {
			.form-dt {
				width: 150px;
			}
		}
	}
	&.style-padding-bottom {
		.form-dl {
			padding-bottom: 5px;
			.form-dt {
				width: 150px;
			}
		}
	}
	&.sms {
		position: relative;
	}

	.form-dl {
		display: block;
		padding-bottom: 15px;
		line-height: 30px;

		.form-dt {
			float: left;
			width: 110px;
			text-align: right;

			.form-dt-label {
				margin-right: 15px;
				color: #999;

				.required {
					padding-right: 2px;
					color: #ff0000;
				}

				.m6 {
					margin-right: 6px;
				}
			}
		}
		.form-dd {
			position: relative;
			float: left;
			width: 800px;
      .itm-selected{
		display: none;
        position: relative;
        padding: 5px 10px;
        border: 1px solid #dddddd;
        cursor: pointer;
        &:hover{
          border: 1px solid #7689b4;
          .itm-fix{
            display: inline-block;
            color: #7689b4;
          }
        }
      }
      .itm-fix{
        position: absolute;
        display: none;
        height: 27px;
        right: 0;
        background: #ffffff;
        padding: 0 5px;
        border-top: 1px solid #7689b4;
        border-bottom: 1px solid #7689b4;
      }
			.sms-filed-editable, .push-filed-editable {
				width: 298px;
				height: 200px;
				// margin-bottom: 10px;
				padding: 6px 10px;
				line-height: 24px;
				color: #555;
			}
			.push-filed-editable {
				height: 120px;
			}
			.configuration-num {
				margin-right: 10px;
			}
			.remark {
				width: 488px;
				height: 120px;
				padding: 6px 10px;
				line-height: 24px;
				color: #555;
			}
			.span-title {
				margin-left: 30px;
				color: #999;
			}
			.ditch-list {
				position: relative;
				height: 32px;
				margin-bottom: 20px;
				line-height: 32px;
				overflow: hidden;

				label {
					margin-right: 30px;
				}
				.input-file {
					position: absolute;
					left: 90px;
					top: 0;
					opacity: 0;
					width: 268px;
					height: 32px;
					background-color: #eee;
					font-size: 450px;
					cursor: pointer;
					filter: alpha(opacity = 0);
				}
			}
			.select-text-style {
				width: 200px;
				height: 30px;
				margin-right: 10px;
				padding: 3px 0;
				border: 1px solid #ccc;
				line-height: 18px;
				color: #555;
				font-size: 14px;
			}
			.choose-link {
				display: inline-block;
				height: 28px;
				margin-right: 10px;
				padding: 0 12px;
				border: 1px solid #ccc;
				border-radius: 2px;
				background-color: #f6f6f6;
				line-height: 28px;
				color: #555;
				font-size: 14px;
				text-decoration: none;

				&:hover {
					background-color: #eee;
				}
			}
			.view-link {
				color: #5871a7;
				font-size: 14px;
			}
			.return {
				display: inline-block;
				margin-right: 20px;
			}
			.warning {
				display: inline-block;
				margin-left: 10px;
				color: #f23d3d;
				font-size: 14px;

				.icon {
					display: inline;
					float: left;
					width: 16px;
					height: 16px;
					margin-top: 7px;
					margin-right: 5px;
					background: url(images/sprite-crm.png) no-repeat 0 -87px;
				}
			}
			.form-dd-condition {
				max-width: 520px;
				line-height: 30px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			.form-dd-total-num {
				position: absolute;
				right: 100px;
				top: 0;
				height: 100%;
				width: 150px;
				white-space: nowrap;

				.total-num-text {
					position: absolute;
					top: 50%;
					height: 30px;
					line-height: 30px;
					margin-top: -15px;

					.num {
						padding: 0 4px;
						color: #555;
						font-size: 18px;
						font-weight: bold;
					}
				}
			}
			.timebox {
				position: relative;
				z-index: 112;
				background-color: transparent;
				cursor: pointer;
			}
			.textarea:focus {
				border-color: #5871a7;
			}
			.input-value-length {
				margin-left: 10px;
				color: #999;
				font-size: 14px;
			}
			input[type='radio'] {
				margin-right: 5px;
			}
			.radio-label {
				display: inline-block;
				width: 75px;
				cursor: pointer;
			}
			.dif-style {
				position: relative;
				float: left;
				height: 110px;
				width: 170px;
				margin-right: 10px;
				border: 2px solid #eee;
				background-color: #fff;
				cursor: pointer;
				overflow: hidden;

				img {
					display: block;
					height: 60px;
					width: 60px;
					margin: 15px auto 10px auto;
				}
				.style-opt {
					width: 170px;
					height: 24px;
					line-height: 24px;
					text-align: center;
					white-space: nowrap;
					overflow: hidden;

					.select-type {
						vertical-align: middle;
					}
				}
				&:hover {
					border: 2px solid #5871a7;
				}
				&.current {
					border: 2px solid #5871a7;

					&:after {
						content: '';
						position: absolute;
						right: -2px;
						bottom: -2px;
						width: 20px;
						height: 20px;
						background: url(images/sprite-crm.png) no-repeat -94px -86px;
					}
				}
			}
		}
		&:after {
			content: ".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
	}
	.storage-data-btn {
		display: inline-block;
		width: 158px;
		height: 40px;
		margin-top: 20px;
		margin-right: 20px;
		border-radius: 2px;
		background-color: #5871a7;
		line-height: 40px;
		color: #fff;
		font-size: 16px;
		text-align: center;
		text-decoration: none;

		&:hover {
			background-color: #425889;
		}
		&.disable-btn {
			border: 1px solid #ccc;
			background-color: #f6f6f6;
			color: #ccc;
			cursor: default;

			&:active, &:hover {
				border: 1px solid #ccc;
				background-color: #f6f6f6;
				color: #ccc;
				cursor: default;
			}
		}
	}
	.list-import-btn {
		height: 30px;
		margin-left: 10px;
		padding: 0 10px;
		border: 1px solid #ccc;
		border-radius: 2px;
		background-color: #f6f6f6;
		line-height: 28px;
		color: #555;
		font-size: 14px;
		cursor: pointer;
	}
	.input-file {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		width: 300px;
		height: 32px;
		background-color: #eee;
		font-size: 450px;
		cursor: pointer;
		filter: alpha(opacity = 0);
	}
	.download-table {
		margin-left: 10px;
		color: #5871a7;
	}
}
.results-content-table {
	width: 100%;
	table-layout: fixed;

	.ths-name {
		background-color: #eee;

		.th-name {
			height: 34px;
			padding-left: 20px;
			line-height: 34px;
			color: #999;
			font-size: 14px;
			text-align: left;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
	.tds-name {
		.td-name {
			height: 44px;
			padding-left: 20px;
			border-bottom: 1px solid #eee;
			line-height: 44px;
			color: #555;
			font-size: 14px;
			text-align: left;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;

			.link-do {
				margin-right: 8px;
				color: #5871a7;

				&.current {
					color: #ccc;
					cursor: default;
					text-decoration: none;
				}
			}
		}
		&:hover {
			background-color: #f6f6f6;
		}
		&.current {
			background-color: #eee;
		}
	}
	.w30 {
		width: 30px;
	}
	.w80 {
		width: 80px;
	}
	.w100 {
		width: 100px;
	}
	.w110 {
		width: 110px;
	}
	.w120 {
		width: 120px;
	}
	.w140 {
		width: 140px;
	}
	.w150 {
		width: 150px;
	}
	.w200 {
		width: 200px;
	}
	.w340 {
		width: 340px;
	}
	.w440 {
		width: 440px;
	}
	.w510 {
		width: 510px;
	}
}
.throng-table {
	width: 100%;
	table-layout: fixed;

	.ths-name {
		background-color: #eee;

		.th-name {
			height: 34px;
			padding-left: 8px;
			padding-right: 6px;
			line-height: 34px;
			color: #999;
			font-size: 14px;
			text-align: left;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;

			input[type='checkbox'] {
				margin-right: 4px;
			}
		}
	}
	.tds-name {
		.td-name {
			height: 44px;
			padding-left: 8px;
			padding-right: 6px;
			border-bottom: 1px solid #eee;
			line-height: 44px;
			color: #555;
			font-size: 14px;
			text-align: left;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;

			input[type='checkbox'] {
				margin-right: 4px;
			}
			.link-do {
				display: inline-block;
				margin-right: 4px;
				color: #5871a7;
				font-size: 12px;

				&.current {
					color: #ccc;
					cursor: default;
					text-decoration: none;
				}
				&.disable-btn {
					border: 0;
					color: #999;
				}
			}
		}
		&:hover {
			background-color: #f6f6f6;
		}
		.td-link-wrap {
			line-height: 18px;
			white-space: normal;
		}
	}
	.w185 {
		width: 185px;
	}
	.w110 {
		width: 110px;
	}
	.w85 {
		width: 85px;
	}
	.w80 {
		width: 80px;
	}
	.w70 {
		width: 70px;
	}
	.w60 {
		width: 60px;
	}
}
.paging {
	margin-top: 10px;
	text-align: center;

	.item-span {
		display: inline-block;
		width: 30px;
		height: 30px;
		margin-right: 10px;
		background-color: #eee;
		line-height: 30px;
		color: #555;
		font-size: 14px;
		text-align: center;
		cursor: pointer;

		&:hover, &.current {
			background-color: #5871a7;
			color: #fff;
		}
	}
	.first, .last {
		color: #999;
	}
	.special {
		display: inline-block;
		width: 12px;
		height: 30px;
		margin-right: 10px;
		line-height: 30px;
		color: #555;
		font-size: 14px;
		text-align: center;
	}
}
.crm-404 {
	width: 400px;
	height: 70px;
	margin: 200px auto;
	padding: 30px 0 30px 80px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;

	.icon {
		display: block;
		float: left;
		width: 70px;
		height: 70px;
		margin-right: 20px;
		background: url(images/sprite-crm.png) no-repeat 0 -108px;
	}
	.crm-404-title {
		height: 45px;
		line-height: 45px;
		color: #555;
		font-size: 24px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.crm-404-description {
		height: 20px;
		line-height: 20px;
		color: #999;
		font-size: 14px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
.crm-dialog {
	background-color: #fff;

  .check-27{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    input{
      margin-right: 5px;
    }
    label{
      em{
        color: #999;
      }
    }

  }
  .itm-area{
    width: 657px;
    margin: auto;
    span{
      display: block;
      float: left;
      width: 95px;
      height: 25px;
      line-height: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
    }
  }
	.dialog-tep-textarea {
	    width: 298px;
	    height: 118px;
	    margin-bottom: 10px;
	    padding: 6px 10px;
	    line-height: 24px;
	    color: #555;
	}
	.select-text-style {
		width: 200px;
		height: 30px;
		margin-right: 10px;
		padding: 3px 0;
		border: 1px solid #ccc;
		line-height: 18px;
		color: #555;
		font-size: 14px;
	}
	.sms-dialog {
		width: 349px;
		height: 422px;
		margin: 0 auto;
	}
	.dialog-btn-center {
		margin-top: 30px;
		text-align: center;
	}
	.label-tab-content {
		display: none;
		position: relative;
		top: 10px;
	}
	.dialog-tab-listitem {
		width: 100%;
		height: 31px;
		margin-bottom: 10px;
		border-bottom: 1px solid #eee;

		ul {
			padding-left: 10px;

			.listitem {
				display: inline;
				float: left;
				// width: 118px;
				height: 30px;
				margin-left: 10px;
				padding: 0 20px;
				border: 1px solid #eee;
				background-color: #f6f6f6;
				line-height: 30px;
				color: #999;
				font-size: 14px;
				text-align: center;

				&:hover {
					border-bottom: 1px solid #fff;
					background-color: #fff;
					color: #5871a7;
					cursor: pointer;
				}
				&.current {
					border-bottom: 1px solid #fff;
					background-color: #fff;
					color: #5871a7;
				}
			}
		}
	}
	.new-test {
		height: 24px;
		margin-top: 10px;
		line-height: 24px;

		.new-test-people {
			display: inline-block;
			height: 24px;
			line-height: 24px;
			padding: 0 10px;
			border: 1px solid #5871a7;
			border-radius: 2px;
			color: #5871a7;
			font-size: 14px;
			text-decoration: none;
		}
		.warning {
			display: inline-block;
			margin-left: 10px;
			color: #f23d3d;
			font-size: 14px;

			.icon {
				display: inline;
				float: left;
				width: 16px;
				height: 16px;
				margin-top: 3px;
				margin-right: 5px;
				background: url(images/sprite-crm.png) no-repeat 0 -87px;
			}
		}
	}
	.link-shot-tip {
		color: #555;
		font-size: 14px;
		line-height: 30px;
	}
	.link-shot-input {
		height: 30px;
		margin-top: 10px;
		line-height: 30px;
		span {
			color: #999;
			font-size: 14px;
		}
	}
	.search-zone {
		height: 40px;
		width: 100%;
		background-color: #fff;
		overflow: hidden;
		.select-title {
			float: left;
			height: 30px;
			line-height: 30px;
			padding-right: 10px;
			color: #999;
			font-size: 14px;
		}
		.select-text-style {
			float: left;
			width: 178px;
			height: 30px;
			margin-right: 10px;
			padding: 3px 0;
			border: 1px solid #ccc;
			line-height: 18px;
			color: #555;
			font-size: 14px;
		}		
		.search-input {
			float: left;
			height: 28px;
			width: 200px;
			margin-right: 10px;
			border: 1px solid #ccc;
			font-size: 14px;
			line-height: 28px;
			text-indent: 10px;
		}
		.btn-search {
			float: left;
			height: 28px;
			width: 70px;
			margin-right: 30px;
			border: 1px solid #ccc;
			border-radius: 4px;
			font: normal 14px/28px 'Microsoft Yahei';
			color: #555;
			text-align: center;
			text-decoration: none;
			cursor: pointer;
		}
		.search-tip {
			float: left;
			width: auto;
			max-width: 200px !important;
			color: #999;
			font-size: 14px;
			line-height: 30px;
		}
		.link-tip {
			float: left;
			width: auto;
			color: #555;
			font-size: 14px;
			line-height: 30px;
			em {
				padding: 0 6px;
			}
		}
	}

	.detail-sort-dialog {
		width: 698px;
		max-height: 259px;
		overflow-y: auto;

		.results-content-table input.border-none {
			border: none;
		}

		.results-content-table input[type='checkbox'] {
			margin-right: 6px;
		}

		.input-name {
			width: 52px;
			height: 28px;
			border: 1px solid #ccc;
			line-height: 28px;
		}
		.input-tel {
			width: 92px;
			height: 28px;
			border: 1px solid #ccc;
			line-height: 28px;
		}
		.input-mail {
			width: 142px;
			height: 28px;
			border: 1px solid #ccc;
			line-height: 28px;
		}
	}

	.dialog-log-box {
		width: 698px;
		height: 270px;
		margin-bottom: 30px;
		border: 1px solid #ccc;
		overflow-y: auto;

		.history-list {
			padding-bottom: 10px;
			border-bottom: 1px solid #eee;

			.history-list-h {
				height: 20px;
				padding: 10px;
				line-height: 20px;
				color: #555;
				font-size: 14px;
				font-weight: normal;
			}

			.history-list-p {
				width: 680px;
				padding: 4px 0;
				line-height: 20px;
				font-size: 14px;

				.p-title {
					float: left;
					width: 60px;
					padding-left: 20px;
					color: #999;
				}

				.p-info {
					float: left;
					width: 600px;
					color: #555;
				}
			}
		}

		.dialog-log-table {
			width: 100%;
			margin: 10px auto;
    		table-layout: fixed;
			.td-name {
				height: 28px;
				padding-left: 20px;
				line-height: 28px;
				color: #555;
				font-size: 14px;
				span {
					margin-right: 10px;
					color: #999;

					&.w140 {
						display: inline-block;
						width: 140px;
					}
				}
			}
		}
	}

	&.detail-scan dl {
		width: 100%;
		height: 24px;
		margin-bottom: 2px;
		font: normal 14px/24px 'Microsoft Yahei';
		white-space: nowrap;
		overflow: hidden;

		.title {
			width: 160px;
			height: 24px;
			margin-right: 20px;
			overflow: hidden;
			text-align: left;
			color: #999;
		}
		.data {
			width: 260px;
			height: 24px;
			overflow: hidden;
			text-align: left;
			color: #555;
		}
		&.btn-dl {
			height: 36px;
			margin-bottom: 40px;
			margin-top: 28px;

			.data {
				height: 36px;
			}
		}
	}
	h2 {
		clear: both;
		margin-bottom: 30px;
		font: normal 24px/1.2 'Microsoft Yahei';
		color: #555;
		white-space: nowrap;
	}
	.tip-content {
		width: 280px;
		margin: 0 auto;
		color: #555;

		i {
			display: block;
			float: left;
			width: 16px;
			height: 16px;
			margin: 2px 10px;
			background: url(images/sprite-crm.png) no-repeat -34px -88px;
		}
		span {
			font: normal 16px/20px 'Microsoft Yahei';
		}
	}
	.tip-confirm {
		margin: 30px auto 40px auto;
	}
	.btn-confirm {
		display: inline-block;
		width: 98px;
		height: 34px;
		border: 1px solid #CCC;
		border-radius: 5px;
		background-color: #f6f6f6;
		font: normal 16px/34px 'Microsoft Yahei';
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		color: #555;
		overflow: hidden;
	}
	.btn-cancle {
		float: left;
		line-height: 36px;
		margin-left: 20px;
		cursor: pointer;
	}
	dl {
		margin-bottom: 20px;
		font: normal 14px/30px 'Microsoft Yahei';

		#area {
			position: relative;
			z-index: 203;
		}
		#interest-big {
			position: relative;
			z-index: 202;

			// .chooseArea {
			// 	display: none;
			// }
		}
		#interest-small {
			position: relative;
			z-index: 201;

			// .chooseArea {
			// 	display: none;
			// }
		}
		#interest-hot {
			position: relative;
			z-index: 98;

			// .chooseArea {
			// 	display: none;
			// }
		}
		&.text-dl {
			margin-bottom: 10px;
		}
		&.text-dl-dialog {
			padding-left: 80px;
			margin-bottom: 10px;

			dt {
				float: left;
				width: 88px;
				overflow: hidden;
				color: #999;
				text-align: right;
				margin-right: 10px;
			}
			dd {
				float: left;
				width: calc(100% - 180px);
				color: #555;

				.interest {
					.interestHit {
						position: relative;
						width: 200px;

						.input-style {
							width: 198px;
							height: 28px;
							border: 1px solid #CCC;
							text-indent: 10px;
						}
						b.icon {
							position: absolute;
							display: block;
							top: 8px;
							right: 5px;
							height: 12px;
							width: 12px;
							background: url(images/jiantou.png) no-repeat;
							overflow: hidden;
						}
						.warning {
							position: absolute;
							display: inline-block;
							left: 210px;
							width: 200px;
							color: #f23d3d;
							font-size: 14px;

							.icon {
								display: inline;
								float: left;
								width: 16px;
								height: 16px;
								margin-top: 8px;
								margin-right: 5px;
								background: url(images/sprite-crm.png) no-repeat 0 -87px;
							}
						}
					}
					.interestContent {
						display: none;

						.sort-list {
							width: 450px;
							height: 84px;
							padding: 10px;
							border: 1px solid #ccc;
							overflow: auto;

							li {
								float: left;
								width: 98px;
								height: 22px;
								margin: 0 10px 12px 0;
								line-height: 22px;
								text-overflow: ellipsis;
								white-space: nowrap;
								overflow: hidden;

								&.selected a, &.selected a:hover {
									color: #ccc;
									cursor: default;
									text-decoration: none;
								}
								a:hover {
									color: #5871a7;
								}
							}
						}
					}
				}
			}
		}
		dt {
			float: left;
			width: 70px;
			overflow: hidden;
			color: #999;
			text-align: right;
			margin-right: 10px;
		}
		dd {
			float: left;
			width: 620px;
			// width: calc(100% - 80px);
			color: #555;

			.warning {
				display: inline-block;
				margin-left: 10px;
				color: #f23d3d;
				font-size: 14px;

				.icon {
					display: inline;
					float: left;
					width: 16px;
					height: 16px;
					margin-top: 7px;
					margin-right: 5px;
					background: url(images/sprite-crm.png) no-repeat 0 -87px;
				}
			}

			&.opt-top {
				margin-top: 30px;
			}
			&.opt-bottom {
				margin-bottom: 40px;
			}
			&.limit-widt {
				width: 280px;
				height: 30px;
				overflow: hidden;
			}
			.auth-scope {
				width: 350px;
				height: 230px;
				border: 1px solid #ccc;
				overflow-x: hidden;
				overflow-y: auto;

				li {
					width: 320px;
					height: 22px;
					margin-top: 10px;
					line-height: 22px;
					margin-left: 15px;
				}
			}
			&.time-wrap {
				position: relative;
				width: 200px;
				height: 30px;
				overflow: hidden;
			}
			.role-name {
				height: 28px;
				width: 200px;
				border: 1px solid #ccc;
				line-height: 28px;
				text-indent: 15px;
			}
			.check-item {
				float: left;
				width: 90px;
				height: 30px;
				overflow: hidden;

				input[type=checkbox] {
					float: left;
					margin: 9px 5px 0 0;
				}
				span {
					float: left;
					width: 70px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
			.role-desc {
				height: 28px;
				width: 350px;
				border: 1px solid #ccc;
				line-height: 28px;
				text-indent: 15px;
			}
			.time-sel {
				position: absolute;
				left: 0;
				top: 0;
				z-index: 112;
				width: 198px;
				height: 28px;
				border: 1px solid #CCC;
				background-color: transparent;
				text-indent: 10px;
				cursor: pointer;
			}
			.icon-time {
				position: absolute;
				top: 8px;
				display: block;
				right: 5px;
				z-index: 111;
				width: 22px;
				height: 15px;
				background: url(images/sprite-crm.png) no-repeat -112px -30px;
			}
			.btn-confirm {
				float: left;
			}
			.time-input, .time-input-send {
				float: left;
				position: relative;
				width: 130px;
				height: 32px;

				.num-input {
					position: absolute;
					left: 0;
					top: 0;
					width: 128px;
					height: 30px;
					border: 1px solid #CCC;
					line-height: 28px;
					text-indent: 5px;
				}
				.icon-time {
					position: absolute;
					display: block;
					right: 5px;
					top: 8px;
					width: 22px;
					height: 15px;
					background: url(images/sprite-crm.png) no-repeat -112px -30px;
				}
			}
			.time-input-send {
				width: 200px;
				.num-input {
					position: absolute;
					left: 0;
					top: 0;
					width: 198px;
					height: 30px;
					border: 1px solid #CCC;
					line-height: 28px;
					text-indent: 5px;
				}
			}
			.split-text {
				float: left;
				margin: 0 15px;
			}
			.sort-wrap {
				float: left;
				display: block;
				height: 30px;
				// width: 90px;
				margin-right: 30px;
				overflow: hidden;

				input[type=radio] {
					margin-right: 3px;
				}
			}
			.detail-sort {
				clear: both;
				width: 568px;
				border: 1px solid #ccc;

				.selected-items {
					width: 100%;
					margin: 10px 0;
					overflow: hidden;

					.item {
						float: left;
						height: 26px;
						background-color: #eee;
						margin-left: 10px;
						padding: 0 5px;

						.i-name {
							float: left;
							height: 26px;
							width: auto;
							max-width: 92px;
							font: normal 14px/26px 'Microsoft Yahei';
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
						}
						.cancle-selected {
							display: none;
							float: left;
							width: 9px;
							height: 9px;
							margin: 9px 0 0 5px;
							background: url(images/sprite-crm.png) no-repeat -21px -91px;
							cursor: pointer;
						}
						&.hover {
							background-color: #5871a7;
							color: #FFF;
						}
					}
				}
				.select-tips {
					height: 30px;
					width: 100%;
					line-height: 30px;
					background-color: #F6f6f6;
					color: #999;
					text-indent: 10px;
					overflow: hidden;
				}
				.sort-list {
					width: 553px;
					height: 84px;
					padding: 6px 5px 10px 10px;
					overflow: auto;

					li {
						float: left;
						width: 90px;
						height: 22px;
						margin: 0 16px 10px 0;
						line-height: 22px;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow: hidden;

						&.selected a, &.selected a:hover {
							color: #ccc;
							cursor: default;
							text-decoration: none;
						}
						a:hover {
							color: #5871a7;
						}
					}
				}
				.search-zone {
					height: 40px;
					width: 100%;
					padding-top: 10px;
					background-color: #f6f6f6;
					overflow: hidden;

					.search-input {
						float: left;
						height: 28px;
						width: 200px;
						margin: 0 10px;
						border: 1px solid #ccc;
						font-size: 14px;
						line-height: 28px;
						text-indent: 10px;
					}
					.btn-search {
						float: left;
						height: 28px;
						width: 70px;
						border: 1px solid #ccc;
						border-radius: 4px;
						font: normal 14px/28px 'Microsoft Yahei';
						color: #555;
						text-align: center;
						text-decoration: none;
						cursor: pointer;
					}
					.search-tip {
						float: left;
						width: auto;
						max-width: 200px !important;
						margin-left: 30px;
						color: #999;
						line-height: 30px;
					}
				}
				.no-result {
					width: 570px;
					height: 100px;
					text-align: center;
					overflow: hidden;

					.tip-wrap {
						margin-top: 30px;
						padding-left: 180px;
					}
					.icon {
						float: left;
						display: block;
						width: 16px;
						height: 16px;
						margin: 4px 10px 0 10px;
						background: url(images/sprite-crm.png) no-repeat -34px -88px;
					}
					span {
						float: left;
						line-height: 24px;

						em {
							color: #f23d3d;
							margin: 0 3px;
						}
					}
				}
			}
		}
	}
	.crm-dialog-title {
		width: 810px;
		height: 46px;
		margin-bottom: 24px;
		line-height: 46px;
		color: #555;
		font-size: 36px;
		font-weight: normal;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.crm-dialog-search-title {
		height: 32px;
		margin-bottom: 30px;

		.link-search {
			display: inline;
			float: left;
			height: 30px;
			margin-left: 10px;
			padding: 0 20px;
			border: 1px solid #ccc;
			border-radius: 4px;
			line-height: 28px;
			color: #555;
			font-size: 16px;
			text-align: center;
			text-decoration: none;
			background-color: #f6f6f6;

			&:hover {
				background-color: #eee;
			}
		}
	}
	.crm-dialog-tag-description {
		line-height: 70px;
		color: #555;
		font-size: 16px;

		.tag-title {
			display: inline;
			float: left;
			width: 90px;
			color: #999;
			text-align: right;
		}
		.tag-input-name {
			margin-right: 30px;
			padding-left: 3px;
		}
		.tag-contont {
			display: inline;
			float: right;
			width: 718px;
			border: 1px solid #ccc;
			overflow: hidden;

			.tag-contont-title {
				height: 42px;
				padding-left: 20px;
				background-color: #fbfbfb;
				line-height: 42px;
				color: #999;
				font-size: 16px;
			}
			.tag-contont-title-selected {
				height: 42px;
				border-bottom: 1px solid #eee;
				background-color: #fbfbfb;
				line-height: 42px;

				.selected {
					position: relative;
					display: inline;
					float: left;
					padding: 0 25px 0 10px;
					border-right: 1px solid #eee;
					color: #999;
					font-size: 16px;

					.selected-close {
						display: block;
						position: absolute;
						right: 10px;
						top: 17px;
						content: '';
						width: 9px;
						height: 8px;
						background: url(images/sprite-crm.png) no-repeat -247px -87px;
					}
					&:hover {
						background-color: #5871a7;
						color: #fff;

						.selected-close {
							background: url(images/sprite-crm.png) no-repeat -247px -97px;
							cursor: pointer;
						}
					}
				}
				.modified-selected {
					display: inline;
					float: right;
					margin-right: 15px;
					color: #5871a7;
					text-decoration: none;
				}
			}
			.tag-contont-label {
				height: 150px;
				padding: 10px 20px;
				color: #999;
				overflow: hidden;

				.tag-content-tag {
					position: relative;
					display: inline;
					float: left;
					height: 26px;
					margin: 10px 20px 10px 0;
					padding: 0 10px;
					border: 2px solid #f6f6f6;
					background-color: #f6f6f6;
					line-height: 26px;
					color: #555;
					font-size: 16px;
					cursor: pointer;

					&:hover, &.current {
						border: 2px solid #5871a7;
						background-color: #fff;
						color: #5871a7;

						&:after {
							position: absolute;
							right: -2px;
							bottom: -2px;
							content: '';
							width: 13px;
							height: 13px;
							background: url(images/sprite-crm.png) no-repeat -230px -93px;
						}
					}
				}
			}
			.tag-contont-button {
				height: 30px;
				padding: 15px 0 15px 20px;
				background-color: #fbfbfb;
				line-height: 30px;

				.link-do {
					display: inline;
					float: left;
					height: 28px;
					margin-right: 10px;
					padding: 0 10px;
					border: 1px solid #ccc;
					border-radius: 2px;
					line-height: 28px;
					color: #555;
					font-size: 16px;
					text-align: center;

					&:hover {
						background-color: #eee;
						text-decoration: initial;
					}
				}
			}
		}
		.input-text-num {
			width: 40px;
		}
		.num-to-num {
			padding: 0 5px;
		}
	}
	.crm-dialog-button {
		height: 38px;
		margin-top: 30px;

		&.alignment {
			margin-left: 90px;
		}
		.dialog-button-submit {
			display: inline;
			float: left;
			height: 36px;
			margin-right: 20px;
			padding: 0 40px;
			border: 1px solid #ccc;
			border-radius: 4px;
			line-height: 36px;
			color: #555;
			font-size: 20px;
			text-align: center;
			text-decoration: none;
			background-color: #f6f6f6;

			&:hover {
				background-color: #eee;
			}
		}
		.dialog-button-cancal {
			display: inline;
			float: left;
			height: 38px;
			line-height: 38px;
			color: #555;
			font-size: 16px;
			text-align: center;
		}
	}
}
.tab-listitem {
	width: 100%;
	height: 41px;
	margin-top: 20px;
	border-bottom: 1px solid #eee;

	ul {
		padding-left: 10px;

		.listitem {
			display: inline;
			float: left;
			// width: 118px;
			height: 40px;
			margin-left: 10px;
			padding: 0 20px;
			border: 1px solid #eee;
			background-color: #f6f6f6;
			line-height: 40px;
			color: #999;
			font-size: 16px;
			text-align: center;

			&:hover {
				border-bottom: 1px solid #fbfbfb;
				background-color: #fbfbfb;
				color: #5871a7;
				cursor: pointer;
			}
			&.current {
				border-bottom: 1px solid #fbfbfb;
				background-color: #fbfbfb;
				color: #5871a7;
			}
		}
	}
}
#file-input {
	overflow: hidden;
}
.arriveBox {
	.cityshow {
		height: 240px;
		overflow: auto;
	}
}
.more-screen {
	display: none;

	#remove-repeat {
		display: inline-block;
		margin: 0 10px 0 30px;
	}
}
#passCheck, #rejectCheck {
	display: none;
}
//模型
.modal {
	position: relative;

	.modal-select-wrap {
		position: absolute;
		display: none;
		z-index: 111;
		left: 435px;
		width: 500px;
		min-height: 700px;
		padding: 20px 10px;
		background-color: #f6f6f6;

		.modal-tab-bt {
			a {
				display: block;
				float: left;
				width: 148px;
				height: 28px;
				margin-right: 10px;
				border: 1px solid #eee;
				background-color: #fff;
				line-height: 28px;
				color: #555;
				font-size: 14px;
				text-align: center;

				&:hover, &.cur {
					background-color: #f6f6f6;
					color: #999;
					text-decoration: none;
				}
			}
		}

		.modal-tab-list {

			.list-tab {
				height: 20px;
				padding: 10px 15px;
				line-height: 20px;

				a {
					display: block;
					float: left;
					width: 95px;
					text-align: center;
				}
			}

			.modal-add-bt {
				height: 34px;
				margin-top: 16px;
				padding-left: 35px;
				background-color: #eee;
				line-height: 34px;
				color: #999;
				font-size: 14px;
			}

			.modal-add-items {
				padding: 15px;
				background-color: #fff;

				.add-item {
					position: relative;
					display: block;
					float: left;
					width: 130px;
					height: 28px;
					margin: 6px 8px 6px 0;
					padding: 0 8px;
					border: 1px solid #ccc;
					border-radius: 4px;
					line-height: 28px;

					.close {
						position: absolute;
						display: block;
						right: 6px;
						top: 6px;
						width: 15px;
						height: 15px;
						background: url(images/sprite-crm.png) no-repeat -49px -224px;
						cursor: pointer;
					}
				}
			}
		}
	}

	.modal-table {
		.tds-name {
			background-color: #fff;
			&:hover {
				background-color: #f6f6f6;
			}
		}
	}

	.modal-next {
	    display: block;
	    width: 158px;
	    height: 40px;
	    margin: 20px auto 0;
	    border-radius: 2px;
	    background-color: #5871a7;
	    line-height: 40px;
	    color: #fff;
	    font-size: 16px;
	    text-align: center;
	    text-decoration: none;

		&:hover {
		    background-color: #425889;
		}

		&.disable-btn {
		    border: 1px solid #ccc;
		    background-color: #f6f6f6;
		    color: #ccc;
		    cursor: default;
		}
	}
}

.modal-dl {
	position: relative;

	.modal-dt {
		height: 60px;
		line-height: 60px;
		background-color: #f6f6f6;
	}

	.modal-dd {
		width: 325px;
		min-height: 60px;
		background-color: #f6f6f6;
	}

	.modal-dd-text {
		float: left;
		width: 220px;
		height: 40px;
		margin: 10px 0px;
		line-height: 20px;
		overflow: hidden;
	}

	.modal-do {
		float: right;
		display: block;
		line-height: 60px;
		color: #999;
		font-size: 14px;
		text-decoration: underline;
		margin-right: 10px;
		cursor: pointer;
		i {
			display: inline-block;
			width: 22px;
			height: 22px;
			margin-right: 5px;
			vertical-align: middle;
			background: url(images/sprite-crm.png) no-repeat 0 -224px;
		}

		&.done {
			i {
				background: url(images/sprite-crm.png) no-repeat -24px -224px;
			}
		}
	}
}
// update by liwei
.link-more{
	&:link,&:visited{
		display: inline-block;
		color: #5871a7;
	}
}
.dialog-area{
	margin-top: 20px;
	&.first{
		margin-top: 0;
	}
	.citybox{
		z-index: 100;
	}
	.dialog-area-select{
		float: left;
		z-index: auto;
		.cityboxbtn{
			width: 245px;
		}
	}
	.link-more{
		float: left;
		margin-left: 10px;
		display: none;
	}
}
.dialog-area-clone{
	display:none;
}

.dialog-label-lst{
	.citySelect{
		z-index: auto;
	}
	.cityboxbtn{
		width: 245px;
	}
	.citybox{
		z-index: 100;
	}
}
.dialog-label{
	margin-top: 20px;
	&.first{
		margin-top: 0;
	}
}
.dialog-interest{
	margin-top: 10px;
	.dialog-interest-big,
	.dialog-interest-small{
		z-index: auto;
		float: left;
		margin-right: 10px;
	}
	.dialog-interest-small{
		.cityboxbtn{
			width: 135px;
		}
	}
	.link-more{
		float: left;
		display: none;
	}
}
.dialog-interest-small{
	.chooseArea{
		display: none;
	}
}
.dialog-label-add{
	margin-top: 10px;
}
.dialog-label-clone{
	display: none;
}

// percent bar
.percent-bar{
	float: left;
	width: 180px;
	height: 17px;
	position: relative;
	margin-top: 6px;
}
.percent-value{
	float: left;
	margin-left: 10px;
	width: 38px;
	text-align: center;
}
.percent-bar-bg,
.percent-bar-btn{
	border: 1px solid #c6c6c6;
	background-color: #e6e6e6;
}
.percent-bar-bg{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 15px;
	border-radius: 7px;
}
.percent-bar-value{
	height: 15px;
	background-color: #5871a7;
	border-radius: 7px;
}
.percent-bar-btn{
	width: 21px;
	height: 21px;
	border-radius: 50%;
	position: absolute;
	top: -3px;
	left: 0;
}